.vscode/settings.json
EventPlanner/bin/Debug/net8.0/EventPlanner.deps.json
EventPlanner/bin/Debug/net8.0/EventPlanner.dll
EventPlanner/bin/Debug/net8.0/EventPlanner.exe
EventPlanner/bin/Debug/net8.0/EventPlanner.pdb
EventPlanner/bin/Debug/net8.0/EventPlanner.runtimeconfig.json
EventPlanner/obj/EventPlanner.csproj.nuget.dgspec.json
EventPlanner/obj/EventPlanner.csproj.nuget.g.props
EventPlanner/obj/EventPlanner.csproj.nuget.g.targets
EventPlanner/obj/project.assets.json
EventPlanner/obj/project.nuget.cache
EventPlanner/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EventPlanner/obj/Debug/net8.0/apphost.exe
EventPlanner/obj/Debug/net8.0/EventPlanner.AssemblyInfo.cs
EventPlanner/obj/Debug/net8.0/EventPlanner.AssemblyInfoInputs.cache
EventPlanner/obj/Debug/net8.0/EventPlanner.assets.cache
EventPlanner/obj/Debug/net8.0/EventPlanner.csproj.CoreCompileInputs.cache
EventPlanner/obj/Debug/net8.0/EventPlanner.csproj.FileListAbsolute.txt
EventPlanner/obj/Debug/net8.0/EventPlanner.dll
EventPlanner/obj/Debug/net8.0/EventPlanner.GeneratedMSBuildEditorConfig.editorconfig
EventPlanner/obj/Debug/net8.0/EventPlanner.genruntimeconfig.cache
EventPlanner/obj/Debug/net8.0/EventPlanner.GlobalUsings.g.cs
EventPlanner/obj/Debug/net8.0/EventPlanner.pdb
EventPlanner/obj/Debug/net8.0/EventPlanner.sourcelink.json
EventPlanner/obj/Debug/net8.0/ref/EventPlanner.dll
EventPlanner/obj/Debug/net8.0/refint/EventPlanner.dll
